html, body {
  height: 100%;
  min-height:100%;
  width: 100%;
  min-width: 325px;
  position: absolute;
  margin: 0;
  padding: 0;
}

#app-container {
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 537px;
}

#map-container {
  position:absolute;
  top:0;
  height: 60%;
  width: 100%;
  transition: height 0.5s;
}

#map-frame {
  height: 100%;
  width: 100%;
}

#tabs-header {
  position: relative;
  width: auto;
  height: 50px;
  background-color: #ffe97d;
}

#tabs-header li{
  padding: 0px !important;
  height: 50px;
}

#tabs-header .tabs-underline {
  position: absolute;
  height: 3px;
  width: 33.334%;
  background: #c25e00;
  bottom: 0px;
  transition: 0.1s linear;
}

#tabs-header .tabs-underline.left {
  left: 0%;
}

#tabs-header .tabs-underline.centre {
  left: 50%;
  transform: translate(-50%, 0);
}

#tabs-header .tabs-underline.right {
  left: 100%;
  transform: translate(-100%, 0)
}

#tabs-container {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  transition: height 0.5s;
  text-align: left;
  box-shadow: 0 -10px 20px -10px #888888;
  background-color: #fafafa;
}

#tabs-container .nav li {
  padding: 5px;
}

#tabs-container .tab a {
  font-size: 1.2em;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.tabs-content::-webkit-scrollbar {
    display: none;
}

.tabs-content {
  position:absolute;
  bottom: 0px;
  width: 100%;
  height: 75%;
  min-height: 25%;
  overflow: scroll;
}

.tabs-content ul {
  list-style-type: none;
  padding: 0px;
}

.tabs-content li {
  margin-top: 10px;
}

.tabs-content .group-container {
  position: relative;
  width: 100%;
  height: 60px;
}

.tabs-content .group-container.main:hover {
  background-color: #D8D8D8;
}

.tabs-content .group-container .group-active {
  position: absolute;
  display: inline-block;
  left: 0px;
  width: 35px;
  height: 100%;
}


.tabs-content .group-container .image {
  position: absolute;
  top: 5%;
  left: 20px;
  display: inline-block;
  width: 55px;
  height: 90%;
  overflow: hidden;
  border-radius: 50px;
  z-index: 2;
}

.tabs-content .group-container .image img {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  z-index: 1;
}

@-webkit-keyframes gradient {
  0%   {background-color:#64db64;}
  50%   {background-color:#ffffff;}
  100%   {background-color:#64db64;}
}

@-moz-keyframes gradient {
  0%   {background-color:#64db64;}
  50%   {background-color:#ffffff;}
  100%   {background-color:#64db64;}
}

@-o-keyframes gradient {
  0%   {background-color:#64db64;}
  50%   {background-color:#ffffff;}
  100%   {background-color:#64db64;}
}

@-webkit-keyframes gradient-pending {
  0%   {background-color:#4e81a8;}
  50%   {background-color:#ffffff;}
  100%   {background-color:#4e81a8;}
}

.tabs-content .group-container .image-animation {
  position: absolute;
  top: 0%;
  left: 17px;
  display: inline-block;
  width: 61px;
  height: 100%;
  overflow: hidden;
  border-radius: 50px;
  z-index: 0;
  background-color:#cccccc;
}

.tabs-content .online .group-container .image-animation{
  background-color: #64db64;
  -webkit-animation: gradient 2s 3;
  -moz-animation: gradient 2s 3;
  -o-animationn: gradient 2s 3;
}

.tabs-content .pending .group-container .image-animation{
  background-color: #4e81a8;
  -webkit-animation: gradient-pending 2s 2;
}

.tabs-content .group-container .group-header {
  position: absolute;
  left: 105px;
  width: 65%;
  height: 100%;


}

.tabs-content .group-header .group-title {
  position: absolute;
  width: 100%;
  top: 5px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabs-content .group-header .group-status {
  position: absolute;
  width: 100%;
  bottom: 5px;
  margin: 0px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.round-button {
  background-color: #fb8c00;
}

/* The side navigation menu */
#sidebar-container.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #fb8c00;
    overflow-x: hidden;
    transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
}

.sidenav.new-group-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0 !important;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#sidebar-container #logo-container {
  width: 100%;
  height: 100px;
  position: relative;
}

#sidebar-container #links .link-container {
  position: relative;
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

#sidebar-container #links .link-container .link-icon {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 40px;
  padding-left: 10px;
}

#sidebar-container #links .link-container .link-icon img {
  position: absolute;
  width: 60%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  z-index: 1;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 50px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#sidebar-icon {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 30px;
  height: 30px;
  z-index: 1;
}

#sidebar-icon .glyphicon-align-justify {
  font-size: 30px;
  color: #c25e00;
}

/* Add class for swipe Animation*/

#tabs-container.swipeUp {
  height: 100%;
}

#map-container.swipeUp {
  height: 0%
}

#sidebar-icon.swipeUp {
  visibility: hidden;
}

.tabs-content.swipeUp {
  height: 91%;
}

#sidebar-container.swipeIt {
  width: 300px;
}


/* Styles for users.html*/

#header-nav {
  position: fixed;
  min-height: 61px;
  height: 9%;
  width: 100%;
  background: #c88719;
  box-shadow: 0px 1px 15px 0px #888888;
  z-index: 10;
}

#header-nav #back-arrow-container, .back-arrow-container {
  position: absolute;
  display: inline-block;
  height: 100%;
  left: 0px;
  width: 15%;
}

#header-nav #back-arrow-container a, .back-arrow-container a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#header-nav #back-arrow-container a span, .back-arrow-container a span {
  font-size: 35px;
  color: white;
  line-height: 55px;
  text-align: center;
}

a:-webkit-any-link {
  /* Removes default underline when clicking a link*/
  text-decoration: none !important;
}

#header-nav #group-title-container {
  position: absolute;
  display: inline-block;
  width: 85%;
  height: 100%;
  right: 0px;
  padding-left: 15px;
}

#header-nav #group-title-container.standalone-title #group-title-group{
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 0px;
  padding: 0px;
}

#header-nav #group-title-container #group-title-group {
  position: absolute;
  top: 0;
  height: 60%;
  width: 90%;
  padding-top: 5px;
}

#header-nav #group-title-container #group-title-group p {
  font-size: 25px;
  color: white;
}

#header-nav #group-title-container #group-sub-title {
  position: absolute;
  bottom: 0;
  height:40%;
  width: 90%;
}

#header-nav #group-title-container #group-sub-title p {
  font-size: 15px;
  color: white;
}

#header-nav #group-title-container p {
  margin: 0;
}

#header-nav.group-view #group-title-container{
  width: 70%;
  left: 69px;
}

.tabs-content.status-users-content .user-container .group-header {
  width: 60%;
}

.tabs-content.status-users-content .user-container .pending-icon {
  position: absolute;
  right: 0;
  width: 12%;
  height: 100%;
  display: flex;
  align-items: center;
}

.tabs-content.status-users-content .user-container .pending-icon img {
  position: absolute;
  height: 43%;
  width: auto;
  bottom: 20%;
  /* border-radius: 50%; */
}

.dropdown {
  position: absolute;
  right: 0px;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.online-users-list {
  width: 100%;
  height: auto;
}

.online-users-list ul {
  margin: 0;
}

.online-users-list p, .offline-users-list p {
  padding-left: 10px
}

.offline-users-list {
  width: 100%;
  height: auto;
}

.tabs-content.status-users-content {
  height: 90%;
  padding-top: 15px;
}

@media only screen and (max-height: 585px) {
  .tabs-content.status-users-content {
    position: absolute;
    top: 60px;
  }
}

.tabs-content.status-users-content .group-header .group-title {
  padding-top: 5px;
}

.tabs-content.status-users-content ul:last-child {
  margin-bottom: 20px;
}

.tabs-content .list-of-users {
  font-weight: bold;
  font-size: 1em;
}

.group-title {
  font-weight: 600;
}

.info-window {
  font-weight: bold;
  margin: 0;
  font-size: 1.2em;
}

.hidden {
  display: none;
}

/* Override bootstrap default styles for the pills */
.filtering-tabs.active {
  /* border-bottom: solid #fb8c00; */
  background-color: #ffe97d;
}

.filtering-tabs.active {
  /* border-bottom: solid #fb8c00; */
  background-color: #ffe97d;
}

.filtering-tabs a {
  color: #37474f !important;
}

.filtering-tabs.active a {
  background-color: inherit !important;
  border: none !important;
}

.nav-tabs li a:hover {
  border-color: #ffbd45 !important;
  background-color: inherit !important;
  border: none !important;
}




/* Login */

.login{
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Oxygen', sans-serif;
  display: flex;
  align-items: center;
}

h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}


.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

/* Requests */

.tabs-content .group-container.invitation-container {
  height: 120px;
}

.tabs-content .group-container.invitation-container:hover {
  background-color: white;
}

.invitations-list ul li {
  margin-top: 20px;
}

.tabs-content .group-container .group-header.request-header {
  position: absolute;
  left: 105px;
  width: 65%;
  height: 50%;
}

.group-container.invitation-container .accept-reject-container {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0px;
}

.group-container.invitation-container .image {
  height: 45%;
  border: solid #bfbfbf;
}

.accept-reject-container .invitation-btn {
  position: absolute;
  bottom: 0px;
  width: 45%;
  height: 80%;
  border-bottom: solid 0.1px gray;
  border-top: solid 0.1px gray;
}

.accept-reject-container .invitation-btn:hover {
  background-color: #D8D8D8;
}

.accept-reject-container .accept-btn {
  left: 5%;
}

.accept-reject-container .reject-btn {
  right: 5%;
}

.accept-reject-container .invitation-btn p {
  text-align: center;
  line-height: 180%;
  font-size: 20px;
  margin: 0px;
}

/* ******PENDING ****** */

.groups-list .group-container .group-header.pending {
  width: 45%;
}

.ok-tick {
  position: absolute;
  top: 5%;
  right: 20px;
  display: inline-block;
  width: 51px;
  height: 84%;
  overflow: hidden;
  border-radius: 50px;
  z-index: 2;
  border: solid 2px #fb8c00;
}

.ok-tick .img-fluid {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  z-index: 1;
}

.tabs-content .group-container:hover {
  background-color: white;
}

.selected .group-container .ok-tick {
    background-color: #ffb74d;
}

/* ******Alert Error Message **** */

#snackbar {
    visibility: hidden;
    opacity: 0;
    width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 500;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    transition: opacity 0.5s;
    opacity: 1;
}

/* **** Create New Group****** */

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 80%;
  margin-left: 10%;
  border-radius: 2px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#pac-input::placeholder {
  font-size: 15px;
}


#app-container #map-container-friends {
  position: absolute;
  top: 60px;
  height: 46.5%;
  width: 100%;
}

#app-container .tabs-content.create-group {
  height: 44%;
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
}

.tabs-content.create-group .add-title {
  position: relative;
  width: 100%;
  height: 33%;
}

.tabs-content.create-group .add-friends{
  margin-top: 3%;
  width: 100%;
  height: 35%;
}

.tabs-content.create-group #create-group-btn {
  height: 55px;
  width: 55px;
  position: absolute;
  bottom: 5%;
  right: 20px;
  border-radius: 50px;
  z-index: 2;
  box-shadow: 0px 1px 15px 0px #888888;
  display: flex;
  align-items: center;
}

#create-group-btn img {
  height: 70%;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  z-index: 1;
}

.new-group-image {
  border: solid 2px #c88719;
  position: absolute;
  top: 25%;
  left: 20px;
  display: inline-block;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50px;
  z-index: 100;
  text-align: center;
  line-height: 55px;
  display: flex;
  align-items: center;
  margin: auto;
  }

.new-group-image img {

  height: 100%;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  z-index: 1;
}

.new-group-title {
  position: absolute;
  margin-left: 30%;
  margin-top: 2px;
  width: 60%;
  height: 85%;
}

.new-group-title input{
  position: absolute;
  font-family: inherit;
  font-size: 25px;
  width: 100%;
  height: 30px;
  bottom: 10px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #c88719;
}

.new-group-title input::placeholder {
  font-family: inherit;
  font-size: 25px;
  bottom: 0px;
  color: lightgray;
}

.add-friends {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffe97d;
  box-shadow: 0px 1px 15px 0px #f3f3f3;
}

.add-friends-btn {
  position: absolute;
  left: 22px;
  display: inline-block;
  width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 50px;
  z-index: 100;
  box-shadow: 0px 1px 15px 0px #888888;
}

.add-friends-btn img {
  position: absolute;
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  z-index: 1;
  left: 5px;
}

.add-friends #added-friends {
    position: absolute;
    height: 100%;
    right: 5px;
    width: 69%;
    padding-right: 10px;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
}

.add-friends #added-friends ul {
  height: 100%;
}

.add-friends #added-friends li {
  display: inline;
  height: 100%;
}

#added-friends .added-friend {
  position: relative;
  display: inline-block;
  margin-top: 6px;
  margin-left: 5px;
  margin-right: 8px;
  height: 100%;
  width: 50px;
}

#added-friends .added-friend .eliminate-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid white 2px;
  border-radius: 50%;
  right: -5px;
  top: 3px;
  z-index: 3;
  background-color: gray;
}

#added-friends .added-friend .added-friend-image {
  overflow: hidden;
  position: relative;
  top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0px 1px 10px 0px #888888;
}

#added-friends .added-friend .centered-image {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  z-index: 1;
}

#added-friends .added-friend .added-friend-name {
  position: absolute;
  top: 62px;
  width: 100%;
  height: 20px;
  text-align: center;
}

#added-friends .added-friend .added-friend-name p {
  text-align: center;
  height: 25px;
  margin: 0px;
  font-weight: bold;
  color: #197985;
  font-size: 13px;
}

.tabs-content .create-group {
  text-align: center;
}

.tabs-content .create-group button {
  border-radius: 20px;
  height: 50%;
  width: 80%;
  font-size: 20px;
}

.new-group-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

#app-container.group-add {
  transition: margin-right .5s;
}

/* Position and style the close button */
.new-group-sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sidebar-container.active {
  width: 100%;
}

#app-container.group-add.active {
  margin-right: 100%;
}

/***** Styles for sidebar ****/

#sidebar-container.new-group-sidenav #header-nav.search-tab {
  position: absolute;
  top: 0px;
  color: black;
  background: white;
  background-color: white;
  border-bottom: #e9e9e9 solid 0.5px;
  box-shadow: 0px 1px 15px 0px #888888;
}

#sidebar-container.new-group-sidenav .back-arrow-container .glyphicon {
  color: #fb8c00;
}

#sidebar-container.new-group-sidenav #group-title-container {
  padding: 0;
}

#sidebar-container.new-group-sidenav #group-title-container input {
  font-size: 25px;
  border: 0;
  outline: 0;
  background: transparent;
  width: 100%;
  height: 100%;
}

#sidebar-container.new-group-sidenav #group-title-container input::placeholder {
  font-size: 25px;
}

#sidebar-container.new-group-sidenav .ok-tick {
  border: none;
}

#sidebar-container.new-group-sidenav .ok-tick img{
  height: 40px;
  width: auto;
}

#sidebar-container.new-group-sidenav .group-container.user-container {
  background: linear-gradient(to right, white 50%, #ffb74d 50%);
  background-size: 200% 100%;
  background-position:left bottom;
}

#sidebar-container.new-group-sidenav .selected .group-container.user-container {
  transition:all .4s ease;
  background-position:right bottom;
}

#sidebar-container.new-group-sidenav .group-container.user-container .group-header {
  width: 50%;
}

#sidebar-container.new-group-sidenav .selected .ok-tick {
  background: #ffb74d;
}

.continue-btn {
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 15%;
  right: 20px;
  border-radius: 50px;
  z-index: 9999;
  box-shadow: 0px 1px 15px 0px #888888;
}

.continue-btn img {
  height: 70%;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  z-index: 1;
}




/* *************Styles for Add Friends View ********** */

/*We reuse the styles from other views */
#sidebar-container.add-friends {
  position: relative;
  width: 100%;
}


#sidebar-container.add-friends .search-tab #group-title-container .search-friends {
  position: absolute;
  left: 0px;
  width: 85%;
}

#sidebar-container.add-friends .search-tab #group-title-container .search-icon {
  position: absolute;
  right: 0px;
  width: 15%;
  height: 100%;
}

#sidebar-container.add-friends .search-tab #group-title-container .search-icon span {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-size: 2em;
  color: #fb8c00;
}

/* Styles for add friends placeholder */
.empty-list-placeholder {
  position: relative;
  text-align: center;
  size: 1em;
  color: lightgray;
  margin-top: 45%;
  padding-right: 10px;
  padding-left: 10px;
}

/* ****STYLES FOR SETTINGS PAGE ***** */

@media only screen and (max-height: 684px) {
  .tabs-content.settings-page {
    position: absolute;
    top: 60px;
  }
}

.tabs-content.settings-page {
  height: 90%;
}

.tabs-content.settings-page #user-dashboard {
  position: absolute;
  top: 0;
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs-content.settings-page #user-dashboard.user-info-btn{
  border-bottom: solid 0.5px lightgray;
}

.tabs-content.settings-page #settings-list {
  position: absolute;
  bottom: 0;
  height: 80%;
  width: 100%;
}

#settings-list li {
  position: relative;
  height: 75px;
  width: 100%;
  margin: 0;
  padding: 0;
}

#settings-list .border-bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 80%;
  height: 1px;
  border-bottom: solid #e0e0e0 0.1px;
}

.settings-li {
  position: relative;
  height: 100%;
  width: 100%;
}

.settings-li .icon {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-li .title {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
}

/* Profile settings */

.tabs-content.settings-page #user-dashboard.user-image {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.tabs-content.settings-page #settings-list.user-settings {
  height: 60%;
  background-color: #fafafa;
}

#user-dashboard #profile-image-container {
  position: relative;
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
}

#user-dashboard #profile-image-container .user-image {
  position: relative;
  width: 150px;
  height: 150px;
  border: solid #c88719 1px;
  border-radius: 80px;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-dashboard #profile-image-container .user-image img {
  height: 100%;
  position: absolute;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  z-index: 1;
}

#user-dashboard #profile-image-container .add-photo-icon {
  height: 60px;
  width: 60px;
  position: absolute;
  right: -20px;
  bottom: 20%;
  border: solid 0.5px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fb8c00;
  z-index: 4;
}

#settings-list.user-settings .name-container {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: solid 0.1px #e0e0e0;
  border-top: solid 0.1px #e0e0e0;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 0px 6px 10px -8px #888888;
}

#settings-list.user-settings .name-container .status-input,
#settings-list.user-settings .name-container .name-input {
  position: absolute;
  left: 0px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 20px;
}

#settings-list.user-settings .name-container .edit-icon-status,
#settings-list.user-settings .name-container .edit-icon {
  position: absolute;
  right: 0px;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings-list.user-settings .name-container .edit-icon-status img,
#settings-list.user-settings .name-container .edit-icon img {
  height: 24px;
  width: auto;
}
