html, body {
  height: 100%;
  min-height:100%;
  width: 100%;
  min-width: 325px;
  position: absolute;
  margin: 0;
  padding: 0;
}

p {
    margin: 0 0 10px;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.3em;
  margin-top: 7px;
  margin-bottom: 7px;
}

.scroll-fix {
  position: fixed;
}

#app-container {
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 537px;
  overflow: hidden;
}

#app-container.clearfix {
  overflow: hidden;
}

#map-container {
  position:absolute;
  top:0px;
  height: 60%;
  width: 100%;
  transition: 0.5s;
}

#map-frame {
  height: 100%;
  width: 100%;
}

.my-location {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  right: 7px;
  width: 65px;
  height: 65px;
  bottom: 80px;
}

.my-location img {
  height: 50%;
  width: auto;
}

.up-swipe-tabs {
  transition: 0.5s ease;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  right: 7px;
  width: 65px;
  height: 65px;
  top: -67px;
}

.up-swipe-tabs img {
  height: 50%;
  width: auto;
}

.up-swipe-tabs.swipeUp {
  top: 80%;
}

#tabs-header {
  position: relative;
  width: auto;
  height: 40%;
  background-color: #fff6e5;
}

.group-status.group-offline {
  color: gray;
}

.carousel.carousel-slider .carousel-item {
  min-height: 0px !important;
}

.carousel.carousel-slider .carousel-item p.group-title {
  font-size: 18px;
}

#tabs-container {
  position: absolute;
  bottom: 0;
  height: 100%;
  transform: translateY(60%);
  width: 100%;
  transition: 0.5s;
  text-align: left;
  background-color: #fff6e5;
  z-index: 3;
}

#tabs-container .nav li {
  padding: 5px;
}

#tabs-container .tab {
  background-color: #ff9800;
}

#tabs-container .tab a {
  font-size: 1.2em;
}

.tabs .tab a:hover, .tabs .tab a {
  color: #ffe9b5;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: white;
}

.tabs .indicator {
  background-color: white;
}


.tabs-content::-webkit-scrollbar {
    display: none;
}

.tabs-content {
  position:absolute;
  bottom: 0px;
  top: 10px;
  width: 100%;
  height: 85%;
  min-height: 25%;
}

#group-tabs-content.tabs-content {
  top: 49%;
}

.tabs-content {
  margin-top: 50px;
}

.tabs-content ul.group-list {
  position: absolute;
  list-style-type: none;
  padding-bottom: 10%;
  margin-top: 0px;
  overflow: scroll;
  width: 100%;
  max-height: 100%;
}

.tabs-content ul.acc-settings {
  list-style-type: none;
  padding: 0px;
  height: 100%;
}

.tabs-content li {
  margin-top: 10px;
}

.tabs-content .group-container {
  position: relative;
  width: 100%;
  height: 60px;
}

.tabs-content .group-container.main:hover {
  background-color: #fff6e5;
}

.tabs-content .group-container .group-active {
  position: absolute;
  display: inline-block;
  left: 0px;
  width: 35px;
  height: 100%;
}


.tabs-content .group-container .image {
  position: absolute;
  top: 5%;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 90%;
  overflow: hidden;
  border-radius: 50px;
  z-index: 2;
}

.tabs-content .group-container .image img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.fit-horizontally {
    height: 100%;
    width: auto;
}

.fit-vertically {
  width: 100%;
  height: auto;
}

.tabs-content .group-container .image-animation {
  position: absolute;
  top: 0%;
  left: 17px;
  display: inline-block;
  width: 61px;
  height: 100%;
  overflow: hidden;
  border-radius: 50px;
  z-index: 0;
  background-color:#cccccc;
}

.tabs-content .online .group-container .image-animation{
  background-color: #64db64;
}

.tabs-content .pending .group-container .image-animation{
  background-color: #4e81a8;
}

.tabs-content .group-container .group-header {
  position: absolute;
  left: 105px;
  width: 65%;
  height: 100%;
}

.tabs-content .group-header .group-title {
  position: absolute;
  width: 100%;
  top: 5px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabs-content .group-header .group-status {
  position: absolute;
  width: 100%;
  bottom: 5px;
  margin: 0px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.round-button {
  background-color: #fb8c00;
}

/* Splash screen */

#app-container.splash {
  background-image: url("./assets/images/cordova-splashscreen.svg");
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.loading-box {
  position: absolute;
  top: 25%;
  width: 100%;
  display:flex;
  justify-content: center;
}

.loading-box h1{
  text-align: center;
  display:block;
  font-size: 4em;
  color: white;
  margin-bottom: 40px;
}

.loading-box .loader{
  position:absolute;
  margin-top: 20px;
  top: 70%;
}

/* The side navigation menu */
#logo-container {
  width: 100%;
  height: 100px;
  position: relative;
}

#slide-out li {
  margin-top: 10px;
}


.sidenav {
    background-color: #fb8c00;
}

.sidenav.new-group-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0 !important;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.link-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.link-icon {
  position: absolute;
  left: 0px;
  height: 100%;
  min-width: 40px;
  padding-left: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-icon img {
  position: absolute;
  width: 60%;
  max-width: 100%;
  z-index: 1;
}

/* The navigation menu links */
.sidenav p {
  font-weight: 0;
  margin: 0px;
  padding-left: 40px;
  font-size: 1.3rem;
  color: white;
  display: block;
}

#sidebar-icon {
  transition: 0.4s;
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  z-index: 1;
}


/* Add class for swipe Animation in tabs*/

#tabs-header.swipeUp {
  height: 100%;
}

.tabs-content.swipeUp {
  height: 91% !important;
}

#tabs-container.swipeUp {
  transform: translateY(0%)
}

#tabs-container.swipeUp .tabs-content ul {
  list-style-type: none;
  padding: 0px;
  overflow: scroll;
  height: 100%;
  transition: none ;
}


#sidebar-icon.swipeUp {
  visibility: hidden;
  opacity: 0;
}

.tabs-content.swipeUp {
  height: 91%;
}

#sidebar-container.swipeIt {
  transform: translateX(0%);
}


/* Styles for users.html*/

#timeStamp {
  color: gray;
}

#header-nav {
  position: fixed;
  height: 61px;
  width: 100%;
  background: #c88719;
  box-shadow: 0px 1px 15px 0px #888888;
  z-index: 10;
}

#header-nav #back-arrow-container, .back-arrow-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  left: 0px;
  width: 15%;
}

#header-nav #back-arrow-container img, .back-arrow-container img {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#header-nav #back-arrow-container a span, .back-arrow-container a span {
  font-size: 35px;
  color: white;
  line-height: 55px;
  text-align: center;
}

a:-webkit-any-link {
  /* Removes default underline when clicking a link*/
  text-decoration: none !important;
}

.title-container {
  position: absolute;
  display: inline-block;
  width: 85%;
  height: 100%;
  left: 15%;
  padding-left: 15px;
}

.title-container #group-title-group {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 0px;
  padding: 0px;
}


#header-nav #group-title-container {
  position: absolute;
  display: inline-block;
  width: 85%;
  height: 100%;
  right: 0px;
  padding-left: 15px;
}



#header-nav #group-title-container.standalone-title #group-title-group {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 0px;
  padding: 0px;
}

#header-nav #group-title-container #group-title-group{
  position: absolute;
  top: 0;
  height: 60%;
  width: 90%;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

#header-nav #group-title-container #group-title-group p,
.title-container #group-title-group {
  font-size: 25px;
  color: white;
}

#header-nav #group-title-container #group-sub-title {
  position: absolute;
  bottom: 0;
  height:40%;
  width: 90%;
  display: flex;
  align-items: center;
}

#header-nav #group-title-container #group-sub-title p {
  font-size: 15px;
  color: white;
}

#header-nav #group-title-container p {
  margin: 0;
}

#header-nav.group-view #group-title-container{
  width: 70%;
  left: 69px;
}

.tabs-content.status-users-content .user-container .group-header {
  width: 60%;
}

.tabs-content.status-users-content .user-container .pending-icon {
  position: absolute;
  right: 0;
  width: 12%;
  height: 100%;
  display: flex;
  align-items: center;
}

.tabs-content.status-users-content .user-container .pending-icon img {
  position: absolute;
  height: 43%;
  width: auto;
  bottom: 20%;
  /* border-radius: 50%; */
}

.fixed-action-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  padding-bottom: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-action-btn img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.online-users-list {
  width: 100%;
  height: auto;
}

.online-users-list ul {
  margin: 0;
}

.online-users-list p, .offline-users-list p {
  padding-left: 10px
}

.offline-users-list {
  width: 100%;
  height: auto;
}

.tabs-content.status-users-content {
  height: 90%;
  padding-top: 15px;
  overflow: scroll;
}

.tabs-content.status-users-content .group-header .group-title {
  padding-top: 5px;
}

.tabs-content.status-users-content ul:last-child {
  margin-bottom: 20px;
}

.tabs-content .list-of-users {
  font-weight: bold;
  font-size: 1em;
}

.group-title {
  font-weight: 600;
}

.info-window {
  font-weight: bold;
  margin: 0;
  font-size: 1.2em;
}

.hidden {
  visibility: hidden;
  display: none !important;
}

.btn-floating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.modal-fixed-footer {
  height: 50%;
  transform: translateY(25%) !important;
}


#modal1 .modal-content {
  display:flex;
  align-items: center;
  justify-content: center;
  padding:0px;
}

#modal1 .modal-content img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.modal.modal-fixed-footer .modal-content {
  overflow: hidden;
}

/* Login */
.login-main {
  display:flex;
  align-items: center;
  justify-content: center;
}

body.login {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main.login-main {
  flex: 1 0 auto;
}

body.login {
  background: #fff;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}

.create-account {
  padding-top: 20px;
}

.row .input-field label {
  color: #4c4c4c
}

form.s12.col .input-field,
form.s12.col input {
  margin-bottom: 0px;
}

.error-message {
  text-align: left;
  padding-left: 0.75rem;
  color: red;
  font-size: 0.90rem;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #4c4c4c;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  border-bottom: 1px solid #4c4c4c;
}

.error input {
  border-bottom: 2px solid red !important;
}

.error label {
  color: red !important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4c4c4c;
  -webkit-box-shadow: 0 1px 0 0 #4c4c4c;
          box-shadow: 0 1px 0 0 #4c4c4c;
}

/* Requests */

.switch-login {
  color: #4c4c4c;
}

.tabs-content .group-container.invitation-container {
  height: 120px;
}

.tabs-content .group-container.invitation-container:hover {
  background-color: white;
}

.invitations-list ul li {
  margin-top: 20px;
}

.tabs-content .group-container .group-header.request-header {
  position: absolute;
  left: 105px;
  width: 65%;
  height: 50%;
}

.group-container.invitation-container .accept-reject-container {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0px;
}

.group-container.invitation-container .image {
  height: 45%;
  border: solid #bfbfbf;
}

.accept-reject-container .invitation-btn {
  position: absolute;
  bottom: 0px;
  width: 45%;
  height: 80%;
  border-bottom: solid 0.1px gray;
  border-top: solid 0.1px gray;
}

.accept-reject-container .invitation-btn:hover {
  background-color: #D8D8D8;
}

.accept-reject-container .accept-btn {
  left: 5%;
}

.accept-reject-container .reject-btn {
  right: 5%;
}

.accept-reject-container .invitation-btn p {
  text-align: center;
  line-height: 180%;
  font-size: 20px;
  margin: 0px;
}

/* ******PENDING ****** */

.groups-list .group-container .group-header.pending {
  width: 45%;
}

.ok-tick {
  position: absolute;
  top: 5%;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 84%;
  overflow: hidden;
  border-radius: 50px;
  z-index: 2;
  border: solid 2px #fb8c00;
}

.ok-tick img {
  width: 70%;
}

.pending.selected .ok-tick,
.online.selected .ok-tick {
  background-color: #fb8c00;
}

.tabs-content .group-container:hover {
  background-color: white;
}

/* ******Alert Error Message **** */

#snackbar {
    visibility: hidden;
    opacity: 0;
    width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 500;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    transition: opacity 0.5s;
    opacity: 1;
}

/* **** Create New Group****** */

body.active {
  overflow: hidden;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 80%;
  margin-top: 18px;
  margin-left: 10%;
  border-radius: 2px;
  border-bottom: none;
  box-shadow: none;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#pac-input::placeholder {
  font-size: 15px;
}


#app-container #map-container-friends {
  position: absolute;
  top: 60px;
  height: 46.5%;
  width: 100%;
}

#app-container .tabs-content.create-group {
  height: 44%;
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
}

.tabs-content.create-group .add-title {
  position: relative;
  width: 100%;
  height: 33%;
}

.tabs-content.create-group .add-friends{
  margin-top: 3%;
  width: 100%;
  height: 35%;
}

.tabs-content.create-group #create-group-btn {
  height: 55px;
  width: 55px;
  position: absolute;
  bottom: 5%;
  right: 20px;
  border-radius: 50px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-group-btn img {
  height: 70%;
  position: absolute;
  width: 70%;
  max-width: 100%;
  z-index: 1;
}

.new-group-image {
  border: solid 2px #c88719;
  position: absolute;
  top: 25%;
  left: 20px;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.new-group-image img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.new-group-title {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 30%;
  margin-top: 10%;
  width: 60%;
  height: 50%;
}

.new-group-title .title-input{
  position: absolute;
  width: 100%;
  font-size: 1.3rem !important;
}

.add-friends {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffe97d;
  box-shadow: 0px 1px 15px 0px #f3f3f3;
}

.add-friends-btn {
  position: absolute;
  left: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 50px;
  z-index: 100;
}

.add-friends-btn img {
  height: 60%;
  width: auto;
}

.add-friends #added-friends {
    position: absolute;
    height: 100%;
    right: 5px;
    width: 69%;
    padding-right: 10px;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
}

.add-friends #added-friends ul {
  margin-top: 0px;
  height: 100%;
}

.add-friends #added-friends li {
  display: inline;
  height: 100%;
}

#added-friends .added-friend {
  position: relative;
  display: inline-block;
  margin-top: 6px;
  margin-left: 5px;
  margin-right: 8px;
  height: 100%;
  width: 50px;
}

#added-friends .added-friend .eliminate-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid white 2px;
  border-radius: 50%;
  right: -5px;
  top: 3px;
  z-index: 3;
  background-color: gray;
}

#added-friends .added-friend .added-friend-image {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 2;
}

#added-friends .added-friend .centered-image {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#added-friends .added-friend .added-friend-name {
  position: absolute;
  top: 62px;
  width: 100%;
  height: 20px;
  text-align: center;
}

#added-friends .added-friend .added-friend-name p {
  text-align: center;
  height: 25px;
  margin: 0px;
  font-weight: bold;
  color: #197985;
  font-size: 13px;
}

.tabs-content .create-group {
  text-align: center;
}

.tabs-content .create-group button {
  border-radius: 20px;
  height: 50%;
  width: 80%;
  font-size: 20px;
}

.new-group-sidenav {
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  transition: 0.5s;
}

#app-container.group-add {
  transition: margin-right .5s;
  background-color: #fafafa;
}

/* Position and style the close button */
.new-group-sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sidebar-container.active {
  transform: translateX(0%);
}

#app-container.group-add.active {
  margin-right: 100%;
}

/***** Styles for sidebar ****/

#sidebar-container.new-group-sidenav #header-nav.search-tab {
  position: absolute;
  top: 0px;
  color: black;
  background: white;
  background-color: white;
  border-bottom: #e9e9e9 solid 0.5px;
  box-shadow: 0px 1px 15px 0px #888888;
}

.search-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.search-icon img {
  height: 70%;
  width: auto;
}


#sidebar-container.new-group-sidenav #group-title-container {
  padding: 0;
}

#sidebar-container.new-group-sidenav #group-title-container input {
  font-size: 25px;
  border: 0;
  outline: 0;
  background: transparent;
  width: 80%;
  height: 100%;
}

#sidebar-container.new-group-sidenav #group-title-container input::placeholder {
  font-size: 25px;
}

#sidebar-container.new-group-sidenav .ok-tick {
  border: none;
}

#sidebar-container.new-group-sidenav .ok-tick img{
  height: 40px;
  width: auto;
}

#sidebar-container.new-group-sidenav .group-container.user-container {
  background: linear-gradient(to right, white 50%, #ffb74d 50%);
  background-size: 200% 100%;
  background-position:left bottom;
  margin-bottom: 15px;
}

#sidebar-container.new-group-sidenav .selected .group-container.user-container {
  transition:all .4s ease;
  background-position:right bottom;
}

#sidebar-container.new-group-sidenav .group-container.user-container .group-header {
  width: 50%;
}

#sidebar-container input {
  box-shadow: none;
}
.continue-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 15%;
  right: 20px;
  border-radius: 50px;
  z-index: 499;
  display:flex;
}

.continue-btn img {
  width: 50%;
}




/* *************Styles for Add Friends View ********** */

/*We reuse the styles from other views */
#sidebar-container.add-friends {
  position: relative;
  width: 100%;
  transform: translate3d(0, 0 , 0);
}


#sidebar-container.add-friends .search-tab #group-title-container .search-friends {
  position: absolute;
  left: 0px;
  width: 85%;
}

#sidebar-container.add-friends .search-tab #group-title-container .search-icon {
  position: absolute;
  right: 0px;
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar-container.add-friends .search-tab #group-title-container .search-icon img {
  height: 70%;
}

/* Styles for add friends placeholder */
.empty-list-placeholder {
  position: relative;
  text-align: center;
  size: 1em;
  color: lightgray;
  margin-top: 45%;
  padding-right: 10px;
  padding-left: 10px;
}

/* ****STYLES FOR SETTINGS PAGE ***** */

.tabs-content.settings-page {
  height: 90%;
}

.tabs-content.settings-page #user-dashboard {
  position: absolute;
  top: 0;
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs-content.settings-page #user-dashboard.dashboard {
  height: 20%;
}

.tabs-content.settings-page #user-dashboard.dashboard {
  height: 150px !important;
}

.dashboard .group-container.user-container {
  height: 120px;
}

.dashboard .group-container.user-container .image {
  height: 100px;
  width: 100px;
  left: 40px;
}

.dashboard .group-container.user-container .group-header {
  left: 180px;
}

.dashboard .group-container.user-container .image-animation {
  visibility: hidden;
  display: none;
}

.dashboard .group-header .group-title {
  color: #666666;
  top: 20%;
  font-size: 22px;
}

.dashboard .group-header .group-status {
  bottom: 20%;
}

.tabs-content.settings-page #user-dashboard.user-info-btn{
  border-bottom: solid 0.5px lightgray;
}

.tabs-content.settings-page #settings-list {
  position: absolute;
  bottom: 0;
  height: 80%;
  width: 100%;
}

.tabs-content.settings-page .list-settings {
  position: absolute;
  bottom: 0;
  top:150px;
  height: 80%;
  width: 100%;
}

#settings-list li {
  position: relative;
  height: 75px;
  width: 100%;
  margin: 0;
  padding: 0;
}

#settings-list .border-bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 80%;
  height: 1px;
  border-bottom: solid #e0e0e0 0.1px;
}

.settings-li {
  position: relative;
  height: 100%;
  width: 100%;
}

.settings-li .icon {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-li .title {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
}

/* Profile settings */

.tabs-content.settings-page . dashboard.user-image {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.tabs-content.settings-page #settings-list.user-settings {
  height: 60%;
  background-color: #fafafa;
}

#user-dashboard #profile-image-container {
  position: relative;
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
}

#user-dashboard #profile-image-container .user-image {
  position: relative;
  width: 150px;
  height: 150px;
  border: solid #c88719 1px;
  border-radius: 80px;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-dashboard #profile-image-container .user-image img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#user-dashboard #profile-image-container .add-photo-icon {
  height: 60px;
  width: 60px;
  position: absolute;
  right: -20px;
  bottom: 20%;
  border: solid 0.5px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fb8c00;
  z-index: 4;
}

#settings-list.user-settings .name-container {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: solid 0.1px #e0e0e0;
  border-top: solid 0.1px #e0e0e0;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: 0px 6px 10px -8px #888888;
}

#settings-list.user-settings .name-container .status-input,
#settings-list.user-settings .name-container .name-input {
  position: absolute;
  left: 0px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 20px;
}

#settings-list.user-settings .name-container .edit-icon-status,
#settings-list.user-settings .name-container .edit-icon {
  position: absolute;
  right: 0px;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings-list.user-settings .name-container .edit-icon-status img,
#settings-list.user-settings .name-container .edit-icon img {
  height: 24px;
  width: auto;
}

/* Styles for the account-settings-list */

.tabs-content.settings-page #settings-list.account-settings {
  position: absolute;
  top: 0;
}

#settings-list.account-settings .profile {
  width: 100%;
}

#settings-list.account-settings .profile.settings-li .title {
  width: 100%;
}

#settings-list.account-settings .profile.settings-li .title {
  width: 100%;
  border-bottom: solid #e0e0e0 0.1px;
}

#settings-list.account-settings .profile.settings-li .title h4 {
  margin-left: 20px;
}

/* Styles for COntact us */

#contact-us {
  background-color: #fafafa;
}

#contact-us ul {
  height: 100%;
  width: 100%;
}

#settings-list li.contact-form {
  height: 110px;
  border-bottom: solid #e0e0e0 0.1px;
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
}

#settings-list li.contact-form p{
  margin-top: 20px;
  color: gray;
}

#settings-list li.email-info {
  height: 15%;
  border-top: solid #e0e0e0 0.1px;
  border-bottom: solid #e0e0e0 0.1px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

/*  Styles for change-email */

#settings-list li.contact-form.change-mail {
  border-top: solid #e0e0e0 0.1px;
}

.change-mail-input {
  width: 100%;
  height: 35px;
  border: 1px solid #C2C2C2;
  outline: none;
  font-size: 20px;
  color: #666666;
  margin-bottom: 10px;
}

.continue-btn.delete {
  background-color: red;
}

#settings-list li.contact-form.change-password-new {
  border-top: solid #e0e0e0 0.1px;
  height: 190px;
}
